#topBanner {
  &.banner {
    // background-image: url('../images/bg_universe.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    background-origin: border-box;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#ceo {
  background-repeat: repeat;
}

#brand-history {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .brand-content {
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

#aboutus {
  .image-lightbox {
    .col img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: rotate(-10deg) scale(1.05, 1.05);
        opacity: 1;
      }

      &:hover img {
        opacity: 0.6;
        transform: scale(0.9, 0.9);
      }
    }
  }
}
