#topBanner {
  &.banner {
    // background-image: url('../images/bg_universe.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    background-origin: border-box;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
