#topBanner {
  &.banner {
    // background-image: url('../images/bg_universe.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    background-origin: border-box;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#ceo {
  background-repeat: repeat;
}

#brand-history {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .brand-content {
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
